.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  background-color: #fff;
}

/* HEADER */
.header {
  background-color: #f2f2f2;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 80px;
}

.nav__logo {
  width: 58px;
  height: 80px;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
}

.header__title {
  max-width: 635px;
  font-size: 62px;
  line-height: 76px;
  font-weight: 500;
  margin-top: 128px;
  margin-bottom: 0;
}

.header__description {
  max-width: 515px;
  font-size: 20px;
  line-height: 30px;
  margin-top: 32px;
  margin-bottom: 0;
}

.header__image {
  max-width: 636px;
  height: auto;
}

.header__footer {
  padding: 0 80px;
}

.header__address {
  font-size: 14px;
  color: #555;
}